/*
Author: Wendy Huang
Assignment 1
Date: 11/21/2023
Description: My CSS stylesheet for my contact.html
*/

/* Resetting some default styles for consistency across browsers */
body {
    width: 100%;
    margin: 0px;
    padding: 0;
}

/* General styling for the document */
html {
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Header styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url(img/purpstarsky.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

/* Logo styles */
.logo {
    max-width: 120px; /* Adjusted max-width */
    height: auto;
    margin-left: 100px; /* Adjusted margin */
}

/* Navigation menu styles */
.navmenu {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 100px;
    margin-right: 250px;
}

.navmenu a {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    font-weight: 400;
    padding: 20px 40px;
    text-decoration: none; /* Removing the underline that was part of it */
    transition: all .40s ease;
    margin-left: 120px;
}

/* Styling for preventing logo cut-off and main-home section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
}

/* Hover effect for navigation menu items */
.navmenu a:hover{
    color: pink;
}

section {
    padding: 5% 10%;
}

/* Styling my contact section in my homepage to be better and fit nicer */
.contact {
    min-height: 100vh;
    background-image: url(img/purpsky.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: rgb(74, 74, 74);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin-top: 50px;
    overflow: hidden;
}

/*This is so that I can make the logo fit better right now it is too big*/
.first-info img{
    padding-top: 30vh;
    width: 240px;
    height: auto;
}

.first-info h3{
    font-size: 50px;
    line-height: 0;
}

.first-info p{
    font-size: 24px;
    line-height: 0.6;
}

/*Styling my social media icons to look nicer and better along with an added transition to make it look cool*/
.socialmedia-icon i{
    color: white;
    font-size: 30px;
    margin-right: 10px;
    transition: all .40s;
    margin-bottom: 50px;
}

.socialmedia-icon i{
    transform: scale(1.4);
    padding: 4px;
}

/*Making it become bigger so that you can tell that you're hovering over it to make it look nicer and cooler*/
.socialmedia-icon i:hover{
    transform: scale(1.8);
}