/* Set Montserrat font for the entire page */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/flowers.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(81, 81, 81);

}


/* Header styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    background-image: url(img/purpstarsky.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

/* Logo styles */
.logo {
    max-width: 120px; /* Adjusted max-width */
    height: auto;
    margin-left: 100px; /* Adjusted margin */
}

/* Navigation menu styles */
.navmenu {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 100px;
    margin-right: 250px;
    align-items: center;
}

.navmenu a {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    font-weight: 400;
    padding: 20px 40px;
    text-decoration: none; /* Removing the underline that was part of it */
    transition: all .40s ease;
    margin-left: 0px;
}

/* Hover effect for navigation menu items */
.navmenu a:hover{
    color: pink;
}

/* Styling for preventing logo cut-off and main-home section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
}

.login-form-section {
    margin-top: 240px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 193, 211);
    padding: 40px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 90px;
    border-radius: 15px; /* Added border-radius for rounded corners */
}

.login-form-section h2 {
    margin-bottom: 20px;
}

/* Login and Create Account button styles */
.login-form-section input[type="submit"] {
    color: rgb(96, 96, 96); 
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: rgb(197, 233, 245); /* Blue color */
    border-color: rgb(197, 233, 245); 
    border-width: 1.5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form-section input[type="submit"]:hover {
       background-color: #ffffff;
    border-color: rgb(149, 196, 211);
    color: rgb(149, 196, 211);
}

.eye-icon {
    margin-left: -30px;
    cursor: pointer;
}

.error-message {
    color: red;
}

.text-spacing{
    padding: 10px 0px;
}



/* Cart icon styles */
.cart-icon {
    margin-top: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjusted margin */
    justify-content: center;
    position: relative;
   
}

.cart-icon span {
display: flex;
height: 20px;
width: 20px;
background-color: pink;
justify-content: center;
align-items: center;
color: black;
border-radius: 50%;
position: absolute;
top: 60%;
right: 30px;
font-size: 14px;
}

/* Cart icon styling */
.cart-icon i {
    font-size: 35px;
}

.cart-icon:hover .cart-text{
    display: block;
}