h1, h2 {font-family: 'Oswald', sans-serif;
}
body {
    color: darkblue;
    font-family: 'Open Sans', sans-serif;
    width: 950px;
    margin: 10px, 50px, 10px, 50px;
    background-color: ivory;
}
img {
    float: left;
    margin-right: 10px;
}