h1, h2 {font-family: 'Oswald', sans-serif;
}
body {
    color: darkblue;
    font-family: 'Open Sans', sans-serif;
    width: 950px;
    margin: 10px, 50px, 10px, 50px;
    background-color: ivory;
}
img {
    float: left;
    margin-right: 10px;
}
.left{
    float: left;
    width: 300px;
    padding: 1em;
}
.right {
    float: right;
    width: 300px;
    padding: 1em;
}
.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}
li {
    display: inline;
}
ul {list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar a {
    margin-left: 50px;
    margin-right:50px;
}