/*
Author: Wendy Huang
Assignment 1
Date: 11/12/2023
Description: My CSS stylesheet for my index.html
Some of this was inspired from what we did in our SmartPhoneProducts2
*/

body {
    text-align: center;
    background-image: url(img/movetulip.gif);
    background-position: center;
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* No repeating of the background image */
    font-family: 'Montserrat', sans-serif; /* Set font to Montserrat */
    color: black; /* Set text color to black for better visibility on the background */
    margin: 0px;
}

img {
    border-radius: 4px;
    /* Rounded border */
    padding: 5px;
    /* Some padding */
    width: 100%; /* Make the image fill the entire width of its container */
    max-width: 400px; /* Set a maximum width for the image to avoid it becoming too large */
    margin: 20px 0; /* Add some margin for better spacing */
}

/* Add a hover effect (black shadow) */
img:hover {
    box-shadow: 0 0 5px 1px rgb(177, 219, 233);
}
